

.img1 {

    background-image: url('/ari1.png');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:contain;
    
}

.img2 {

    background-image: url('/ari21.png');
    background-position:right;
    background-repeat: no-repeat;
    background-size:contain;
    
}

.img3 {

    background-image: url('/ari3.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
    
}

.img4 {

    background-image: url('/ari4.png');
    background-position:center center;
    background-repeat: no-repeat;
    background-size:contain;
    
}